<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/home.min.css') }}">
    <title>Dandilion</title>
</head>

<body>
    <header class="navbar">
        <nav class="navbar__container">
            <section class="navbar__brand">
                <h3>
                    Brand
                </h3>
            </section>
            <section class="navbar__links">
                <a>Download</a>
                <a href="https://github.com/Kyle-Myre/Dandilion">Github</a>
            </section>
        </nav>
        <section class="navbar__hero">
            
        </section>
    </header>
</body>

</html>