<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css')  }}">
    <title>Dandilion</title>
</head>
<body>
    <section class="h-screen flex items-center justify-center font-comfortaa">
        <form class="border-[1.5px] border-black flex flex-col gap-4 justify-center w-[450px] px-6 py-12">
            <div class="flex flex-col gap-4">
                <span>URL:</span><input class="border-[1.5px] border-black px-4 py-2 w-full outline-none ring-0"
                    type="url" name="" id="">
            </div>
            <div class="flex flex-col gap-4">
                <label for="">Type:</label>
                <select class="border-[1.5px] border-black px-4 w-full py-2 outline-none ring-0" name="" id="">
                    <option value="MP3" selected>MP3</option>
                    <option value="MP4">MP4</option>
                    <option value="WEBM">WEBM</option>
                </select>
            </div>
            <div class="flex flex-row gap-4 items-center">
                <input type="submit" class="w-full border-[1.5px] border-black py-2 bg-teal-300 font-black" value="Download" />
            </div>
        </form>
    </section>
</body>
</html>